@import "./assets/fonts/HurmeGeometric/stylesheet.css";
@import "./node_modules/swiper/swiper-bundle.min.css";

:root {
    --black: #2b2b2b;
    --brown: #b89579;
    --dark-pink: #d5658d;
    --dark-green: #a0bd2d;
    --gray: #757790;
    --green: #00a651;
    --light-black: #3a3a3a;
    --light-blue: #53b9c5;
    --light-gray: #f8f8f8;
    --light-green: #81d050;
    --orange: #f4721e;
    --pink: #ef64bd;
    --red: #f05458;
    --violet: #a567cc;
    --white: #fff;
    --yellow: #ebaf2d;
    font-family: 'HurmeGeometricSans4', sans-serif;
    font-size: 16px;
}
*{
    box-sizing: border-box;
    font-family: 'HurmeGeometricSans4', sans-serif;
}
body{
    margin: 0;
    overflow-x: hidden;
}
section {
    padding: 50px 0
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    display: block;
}
button, a, i, .g-tab_nav li, .g-btn{
    cursor: pointer;
    outline: none;
    font-family: 'HurmeGeometricSans4', sans-serif;
    transition: all .4s ease;
    text-decoration: none;
}
button:hover{
    filter: brightness(1.1);
}
a:hover, i:hover, .g-tab_nav li:hover, .g-btn:hover{
    filter: brightness(0.85);
}
span{
    display: inline-block;
}
p{
    margin: 0;
}
img{
    max-width: 100%;
    height: fit-content;
}
input {
    outline: none;
    transition: all .2s ease;
}
/* Animations */
@keyframes fade {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@-webkit-keyframes fade {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
/*PopUp Stylesheet*/
@keyframes pop-up {
    0%{
        opacity: 0;
        transform: scale(.8);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
    100{
        transform: scale(1);
    }
}
@-webkit-keyframes pop-up {
    0%{
        opacity: 0;
        transform: scale(.8);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
    100{
        transform: scale(1);
    }
}
/* Pop Up Styles */
.g-pop_up{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    box-sizing: border-box;
    background-color: rgb(21 43 100 / 20%);
    overflow-y: overlay;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease;
}
.g-pop_up.active {
    opacity: 1;
    z-index: 25;
    animation: .2s pop-up ease-in;
}
.g-pop_up-wrap {
    position: relative;
    width: 370px;
    margin: auto auto;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 65px 50px;
    border-radius: 6px;
}
.g-pop_up-header {
    margin-bottom: 35px;
}
.g-pop_up-header h4 {
    font-size: 20px;
    font-weight: normal;
    color: var(--blue);
    margin: 0;
}
.g-pop_up-header i {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #E3E3E3;
    font-size: 24px;
    cursor: pointer;
}
/* Global Styles */
/* main.g-main {
    padding-top: 50px;
    padding-bottom: 50px;
} */
.g-container{
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}
.g-row{
    padding-right: 15px;
    padding-left: 15px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.g-dfw{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.g-alt-center{
    align-items: center;
}
.g-alc-sb{
    align-content: space-between;
}
.g-jc-center{
    justify-content: center;
}
.g-jc-sb{
    justify-content: space-between;
}
.g-btn_green {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--green);
    padding: 15px 25px;
    border-radius: 25px;
    border: 1px solid var(--green);
}
.g-btn_green.invert {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
}
/* Header Styles */
nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background-color: var(--black);
    z-index: 15
}
nav.fix{
    position: fixed;
    animation: fade .4s ease;
    box-shadow: 0 0 20px -5px #0000001a;
}
ul.g-menu {
    column-gap: 40px;
}
ul.g-menu li {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    height: 70px;
    display: flex;
    align-items: center;
}
ul.g-menu li a {
    color: var(--white);
    letter-spacing: 2px;
}
.g-extra-actions {
    column-gap: 15px;
}
.g-eaii_auth-btn {
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
}
.g-eaii_auth-btn a {
    color: var(--white);
}
.g-post_ad.g-btn_green {
    color: var(--white);
}
/* Mobile Menu Styles */
/* .g-mobile-nav{
    display: none;
}
.g-m-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 45vw;
    min-width: 320px;
    height: 100vh;
    padding: 65px 50px;
    background: #fff;
    transition: all .4s ease;
    overflow-y: overlay;
    z-index: -1;
}
.g-m-menu.open{
    left: 0;
    z-index: 15;
}
.g-menu_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh + 15px);
    background-color: rgb(21 43 100 / 20%);
    opacity: 0;
    display: none;
    transition: all .4s ease;
}
.g-menu_overlay.open{
    display: block;
    animation: fade .4s ease;
    background-blend-mode: overlay;
    backdrop-filter: blur(5px);
    opacity: 1;
    z-index: 6
} */
/* - Humburger - */
.g-humburger {
    position: relative;
    margin-left: auto;
    height: 2px;
    width: 30px;
    background: var(--blue);
    transition: all .4s ease;
    cursor: pointer;
    z-index: 16;
}
.g-humburger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    border-top: 2px solid var(--blue);
    top: -10px;
    left: 0;
    transition: all .4s ease;
}
.g-humburger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    border-bottom: 2px solid var(--blue);
    top: 0;
    left: 0;
    transition: all .4s ease;
}
.g-humburger.active {
    transform: rotate(45deg);
}
.g-humburger.active::before {
    top: -5px;
    left: 5px;
    transform: rotate(-90deg);
}
.g-humburger.active::after {
    left: -100%;
    opacity: 0;
}

/* Bread Crumps Styles */
.g-bread_crumps {
    background-color: #f8f8f8;
    padding: 45px;
    margin-top: 90px;
}
.row .g-bc_item {
    width: auto;
}
.g-bc_item {
    position: relative;
    margin: 0;
    font-size: 14px;
    color: var(--light-black);
}
.g-bc_item::after {
    content: "/";
    position: absolute;
    right: -4px;
    top: 2px;
}

.g-bc_item:last-child::after {
    content: "";
}
.g-bc_item a {
    font-size: 17px;
    color: var(--light-black);
}
/* Footer Styles */
footer.g-footer {
    padding: 50px 0 0;
    background-color: var(--light-black);
}
.g-f_item h3 {
    font-size: 22px;
    color: var(--white);
    margin: 0 0 25px;
}
.g-f_item p {
    color: #e3e3e3;
    font-size: 14px;
}
.g-fi_quik-links__list li {
    width: 100%;
}
.g-fi_quik-links__list li a {
    font-size: 14px;
    color: #e3e3e3;
}
.g-fi_quik-links__list {
    row-gap: 10px;
}
.g-f_social-links {
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 30px;
}
.g-f_social-links li a {
    padding: 15px;
    border-radius: 5px;
    background-color: #5e5e5e;
}
.g-f_social-links li a:hover {
    background-color: var(--green);
}
.g-subscribe-form {
    margin: 15px 0 0;
}
.g-subf_label {
    width: 290px;
    background-color: #5e5e5e;
    border-radius: 5px;
    overflow: hidden;
}
.g-subf_label input {
    width: calc(100% - 35px);
    font-size: 12px;
    color: #f1f1f1;
    padding: 10px;
    background-color: transparent;
    border: none;
}
.g-subf_label input::placeholder {
    color: #aaa;
}
.g-subf_btn {
    width: 35px;
    border-radius: 5px;
    background-color: var(--black);
    border: none;
}
.g-subf_btn svg path {
    fill: var(--white);
}
.g-subscribe-form p {
    font-size: 12px;
    font-style: italic;
    color: #aaa;
    margin: 10px 0 0;
    display: none;
}
.g-f_copyright {
    text-align: center;
    padding: 30px 15px;
    border-top: 1px solid #aaa;
    margin-top: 50px;
}
.g-f_copyright p {
    font-size: 14px;
    color: var(--white);
}
/* Swiper Styles */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
