table.g-table {
    width: 100%;
    border-bottom: 1px solid #aaa;
    border-right: none;
    border-left: none;
    border-collapse: collapse;
    margin-top: 30px;
}
.g-h_stat{
    display: flex;
    align-items: center;
}
.g-a_status {
    width: 156px;
    height: 38px;
    float: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: var(--green);
    font-size: 16px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.g-a_status.green {
    background-color: var(--white);
}
.g-t_post-img{
    width: 80px;
    height: 80px;
    background-color: #2c2c2c;
}
.g-t_actions {
    width: 100%;
    justify-content: space-between;
    float: right;
}
.actions{
    margin-left: auto;
}
.g-t_page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.g-f-dfw{
    width: 180px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.el_active{
    width: 30px;
    height: 30px;
    color: var(--white);
    border-radius: 100%;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
}
.el_border{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------- Media Styles ---------- */
@media (max-width: 1200px) { ... }

@media (max-width: 992px) { ... }

@media (max-width: 768px) { ... }

@media (max-width: 576px) { ... }
