.g-dcu_banner {
    height: 120px;
    width: 100%;
    background-image: url(/assets/img/user_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.g-dcu_avatar {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--light-black);
    margin: -52px auto auto;
    border: 4px solid var(--white);
    box-shadow: 0 5px 10px -5px;
}
.g-dc_user-meta__nav h2 {
    margin: 10px 0;
    text-align: center;
    font-size: 17px;
}
.g-dcm_item {
    position: relative;
}
.g-dcm_item.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--green);
}
.g-dcm_item a {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    color: var(--light-black);
    padding: 10px 15px;
}
/* Datas Styles */
.g-dc_heading, .g-dc_heading_set {
    margin: 9px;
    width: 100%;
    font-size: 20px;
    line-height: 1;
    color: var(--light-black);
}
.g-dc_heading_set{
    margin: 27px;
    margin-left: 9px;

}
.g-dc_extra-info {
    width: 100%;
    column-gap: 30px;
    margin: 30px 0;
}
.g-dcei_item {
    width: calc(33.33335% - (60px / 3));
    column-gap: 15px;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 13px 0 rgb(146 146 146 / 75%);
}
.g-dcei_item:nth-child(2) .g-dceii_icon {
    background-color: #26a69a;
}

.g-dcei_item:nth-child(3) .g-dceii_icon {
    background-color: #5c6bc0;
}
.g-dceii_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #25a7e4;
}
.g-dceii_text-wrap h4 {
    margin: 0;
    font-size: 18px;
    color: var(--light-black);
}
.g-dceii_text-wrap p {
    font-size: 15px;
    color: var(--light-black);
}
/* Table Styles */
table.g-table {
    width: 100%;
    border-bottom: 1px solid #aaa;
    border-right: none;
    border-left: none;
    border-collapse: collapse;
    margin-top: 20px;
}
table.g-table tr {
    display: flex;
    column-gap: 15px;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #aaa;
}
table.g-table th {
    color: var(--light-black);
    font-size: 16px;
}
.select input {
    width: 15px;
    height: 15px;
    margin: 0;
}
.photo {
    width: 84px;
}
.g-t_post-img {
    width: 84px;
    height: 80px;
}
.title {
    width: calc(100% - 541px);
    text-align: left;
}
.category {
    width: 100px;
    min-width: 100px;
}
.category h4 {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: var(--light-black);
}
.status {
    width: 85px;
    min-width: 85px;
    text-align: center;
}
.g-t_status {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #8a8a8a;
    color: var(--white);
    font-size: 15px;
}
.g-t_status.green {
    background-color: var(--green);
}
.price {
    text-align: center;
    width: 80px;
    min-width: 80px;
    font-size: 15px;
}
.price p {
    font-weight: 600;
}
.actions {
    width: 100px;
    min-width: 100px;
}
.g-t_actions {
    width: 100%;
    justify-content: space-between;
}
.g-t_actions li {
    padding: 5px;
    border-radius: 5px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s ease;
}
.g-t_actions li:hover {
    filter: brightness(.9);
}
table.g-table tr .g-t_actions li svg {
    width: 15px;
    height: 15px;
}
table.g-table tr.active .g-t_actions li svg path {
    fill: var(--white)
}
table.g-table tr.active .g-t_actions li.eye {
    background-color: var(--green);
}
table.g-table tr.active .g-t_actions li.pen {
    background-color: var(--light-blue);
}
table.g-table tr.active .g-t_actions li.trash {
    background-color: var(--red);
}
.form-group{
    border: 1px solid   #dddddd;
    border-radius: 5px;
    padding: 20px 16px;


}

form .g-btn_green{
   padding: 15px 50px;
}
.g-hg{
    margin-bottom: 25px;
}
.select, .g_select{
   width: 100%;
   border:1px solid #eeeeee;
   border-radius: 30px;
   margin-top: 16px;
   padding: 15px;


}
.g-select{
    padding: 15px;

}
.g_content{
    height:80%;
}

.g_select{
    width: 100%;
    height: 60px;
    resize: none;
    padding: 15px;
    margin-bottom: 15px ;
}
.btn_content{
   margin: 9px;
   width: 100%;
   height: 20px;
}
.g_btn{
    display: flex;
    width: 60px;
    height: 34px;
    float: right;
    margin-right: 9px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background:var(--white) ;
    cursor: pointer;
    padding: 6px;
}

.svg{
    width: 15px;
    height: 20px;
    margin-right: 5px;
    color: var(--green);

}
.g_btn:hover{
    background: #e9e9e9;
    transition:all .4s;
}


/* ---------- Media Styles ---------- */
@media (max-width: 1200px) { ... }

@media (max-width: 992px) { ... }

@media (max-width: 768px) { ... }

@media (max-width: 576px) { ... }
