.g-why-choose .g_s-heading {
    text-align: left;
}
.g_s-heading {
    margin-bottom: 20px;
}
.g-why-choose .g_s-heading::after {
    left: 0
}
.g-s_paragraph {
    font-size: 16px;
    color: #7b7b7b;
    margin: 0 0 20px;
}
/* How It work Section Styles */
section.g-how-it-work {
    background-color: #f8f8f8;
}
.g-how-it-work .g-s_paragraph {
    text-align: center;
}
.g-hiw_item {
    text-align: center;
    position: relative;
}
.g-hiw_item::after {
    content: "";
    position: absolute;
    width: calc(100% - 125px);
    height: 2px;
    background-color: #e2e2e2;
    top: 58px;
    left: calc(50% + 62px);
}
.g-hiw_item:last-child::after {
    content: none
}
.g-hiwi_icon {
    width: 115px;
    height: 115px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: linear-gradient(0, #31ca7c, #35d5df);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid var(--bs-white);
    box-shadow: 0 0 0 2px #e2e2e2;
}
.g-hiwi_icon svg {
    height: 35px;
    width: 35px;
}
.g-hiwi_icon svg path {
    fill: var(--white);
}
.g-hiw_item h4 {
    margin: 20px 0;
    font-size: 21px;
    color: var(--light-black);
}
.g-hiw_item p {
    font-size: 14px;
    color: #7b7b7b;
}
/* Why Section Styles */
.g-wc_list li {
    margin-bottom: 24px;
}
.g-wc_list li svg {
    width: 21px;
    height: 21px;
    margin-right: 10px;
}
.g-wc_list li svg path {
    fill: #b7b7b7;
}
.g-wc_list li span {
    width: calc(100% - 31px);
    line-height: 1;
    color: #7b7b7b;
}
/* Why We Are Best Section SStyles */
h2.g-s_heading {
    margin: 0 0 10px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    color: var(--light-black);
}
p.g-s_desk {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: var(--light-black);
    letter-spacing: 2px;
    margin-bottom: 35px;
}
.g-wwi_icon {
    width: 35px;
}
.g-ww_item {
    column-gap: 15px;
}
.g-wwi_text-wrap {
    width: calc(100% - 50px);
}
.g-wwi_text-wrap h4 {
    margin: 0 0 15px;
    font-size: 16px;
    color: var(--light-black);
}
.g-wwi_text-wrap p {
    font-size: 14px;
    color: #7b7b7b;
}
/* Downoad Section Styles */
section.g-download {
    background-image: linear-gradient(45deg, #31b57e, #2bbab9);
}
h3.g-d_heading {
    position: relative;
    margin: 0 0 30px;
    font-size: 35px;
    color: var(--white);
    text-align: center;
}
h3.g-d_heading::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: calc(50% - 15px);
    height: 2px;
    width: 30px;
    background-color: var(--white);
}
p.g-d_text {
    font-size: 16px;
    color: var(--white);
    text-align: center;
}
.g-d_links {
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 70px;
}
.g-dl_item {
    padding: 10px 20px;
    border: 2px solid var(--white);
    border-radius: 40px;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
    column-gap: 10px;
}
/* Testimonials Section Style */
section.g-testimonials .row {
    margin-top: 40px;
}
.g-ti_avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--light-black);
    border: 2px solid var(--green);
}
.g-ti_message {
    width: 100%;
    font-size: 16px;
    color: var(--light-black);
    margin: 45px 0 30px;
    padding: 0 30px;
}
.g-ti_meta h4 {
    color: var(--green);
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
}
